@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@200;300&family=Ubuntu:ital,wght@1,300&display=swap');



body{
    font-family: 'Nunito', sans-serif;
    background-image: url(../img/fondo1.png);
    background-size: cover;

}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logo{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: auto;
    background-color: rgb(146, 110, 179);
}


.menu{
    background-color: coral;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    text-align: center;    
}

.menu a{
text-align: center;
    text-decoration: none;
    grid-row-start: 3;
    
}

.menu a:hover{
    background-color: blueviolet;
    text-align: center;
}


.info{
    background-color: blueviolet;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}

.footer{
    background-color: darkgreen;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
background-color: rgb(243, 223, 255);
  
}


