<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../img/favicon.png"/>
        <link rel="stylesheet" type="text/css" href= "../css/estilos.css">
    <title>El extraterrestre</title>
</head>
<body>

    <div class="container">
        <header class="header">
            <a href="index.html"><img src="../img/logo 2.png"></a>
            <aside class="sidebar">
                <div >
                    <ul class="historia">
                        <a href="index.html"><li>Historia</li></a>
                    </ul>
                </div>
                <div >
                    <ul class="personajes">
                        <a href="personajes.html"><li>Personajes</li></a>
                    </ul>
                </div>
                <div >
                    <ul class="villanos">
                        <a href="villanos.html"><li>Villanos</li></a>
                    </ul>
                </div>
                <div >
                    <ul class="galeria">
                        <a href="galeria.html"><li>Galeria</li></a>
                    </ul>
                </div>
            </aside>
        </header>
        <main class="content">

        </main>
        <footer class="footer">
            <p>Sitio web desarrollado por Daniela Ovalle :3♡</p>
        </footer>

    </div>
</body>
</html>