<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "../css/index.css">
    <link rel="icon" type="image/png" href="../img/favicon.png"/>
    <title>Coraje, el perro cobarde</title>
</head>
<body>
    <body>    
        <div class="container">
            <header class="header">
                <a href="index.html"><img src="../img/logo 2.png"></a>
                <aside class="sidebar">
                    <div >
                        <ul class="historia">
                            <a href="index.html"><li>Historia</li></a>
                        </ul>
                    </div>
                    <div >
                        <ul class="personajes">
                            <a href="personajes.html"><li>Personajes</li></a>
                        </ul>
                    </div>
                    <div >
                        <ul class="villanos">
                            <a href="villanos.html"><li>Villanos</li></a>
                        </ul>
                    </div>
                    <div >
                        <ul class="galeria">
                            <a href="galeria.html"><li>Galeria</li></a>
                        </ul>
                    </div>
                </aside>
            </header>
            <main class="content">
                <article class="article">
                    <h1>Coraje, el perro Cobarde</h1>
                    <p>Coraje, el perro cobarde es una serie animada estadounidense creada, producida, escrita y dirigida por John R. Dilworth en su estudio de animación Stretch Films y transmitida por Cartoon Network entre los años 1999 y 2002 con 4 temporadas y 52 episodios. Se inspiró en el cortometraje nominado al Oscar, Courage The Cowardly Dog: The Chicken from Outer Space.</p>
                    <p>Esta serie tuvo una de las últimas participaciones del veterano actor Víctor Mares en el doblaje, antes de su fallecimiento en el año 2000.
                        El doblaje contiene modismos mexicanos.
                        En el episodio "El Demonio del Colchón", Coraje dice "O mi nombre es Richie Hill, y no lo es" haciendo alusión a Ricardo Hill.
                        En el episodio "Dr. Le Quack, especialista en amnesia", Coraje dice "O algo esta mal aquí, mi nombre es Ricardo Mendoza de Veracruz, y no lo es" haciendo referencia al actor que da voz a Coraje.
                        En el episodio "La pequeña Muriel", Coraje pinta la silla de Muriel con pegamento de secado rápido, creyendo que era pintura de secado rápido, y al revisar la etiqueta, ésta dice "Pega de locura", haciendo referencia al eslogan de Kola Loka, el cual también es un pegamento.
                        En el episodio "Todos quieren dirigir", Muriel hablando con Benton Tarantella menciona la película Nosotros los pobres.</p>
                </article>
    
            </main>

                 <div class="related-post">
                    <a href="muriel.html"><img src="../img/muriel.png"></a>
                </div>
                <div class="related-post">                
                    <a href="coraje.html"><img src="../img/coraje.png"></a>
                </div>
                <div class="related-post">
                    <a href="justo.html"><img src="../img/justo.png"></a> 
                </div>
                <div class="related-post">
                    <a href="villanos.html"></a><img src="../img/la-reina.png"> 
                </div>  

            <footer class="footer">
                <p>Sitio web desarrollado por Daniela Ovalle :3♡</p>
                <img src="../img/morita2.png">
            </footer>
    
        </div>
    </body>
    
</html>