<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../img/favicon.png"/>
        <link rel="stylesheet" type="text/css" href= "../css/estilos.css">
    <title>Muriel</title>
</head>
<body>

    <div class="container">
        <header class="header">
            <a href="index.html"><img src="../img/logo 2.png"></a>
            <aside class="sidebar">
                <div >
                    <ul class="historia">
                        <a href="index.html"><li>Historia</li></a>
                    </ul>
                </div>
                <div >
                    <ul class="personajes">
                        <a href="personajes.html"><li>Personajes</li></a>
                    </ul>
                </div>
                <div >
                    <ul class="villanos">
                        <a href="villanos.html"><li>Villanos</li></a>
                    </ul>
                </div>
                <div >
                    <ul class="galeria">
                        <a href="galeria.html"><li>Galeria</li></a>
                    </ul>
                </div>
            </aside>
        </header>
        <main class="content">
            <h1>MURIEL BOLSA</h1> 
            <p>Muriel, una anciana muy amable y dulce dueña de Coraje, así como la estimada esposa de Justo Bolsa. Aunque ella es la damisela en apuros del programa, Muriel también es una excelente cocinera y no toleraría ninguna tontería o mala conducta, siempre usa su rodillo para golpear a Justo cada vez que asusta, se burla, abusa o maltrata de otra manera a Coraje.</p>

            <p>Cuando tenía 3 años y medio, Muriel era una niña extremadamente traviesa, malcriada y hiperactiva.Sin embargo, hoy en día, es una ama de casa devota con un comportamiento verdaderamente gentil, dulce y amable. También le gustaba cocinar, tejer y acolchar.Debido a su bondad y naturaleza dulce e ingenua, Muriel es un objetivo fácil y a menudo atractiva para los villanos. No ayuda que ella también sea siempre amable con los extraños, e incluso los invita a su casa, sin ver cuáles eran sus verdaderas intenciones hasta que ellos mismos lo revelan. Afortunadamente, ella siempre tiene Coraje para salvar el día.
            </p>
            <div class="imgs">
                <a href="personajes.html"><img src="../img/muriel3.png"></a>
                <a href="personajes.html"><img src="../img/muriel4.png"></a>
                <a href="personajes.html"><img src="../img/muriel5.png"></a>
                <a href="personajes.html"><img src="../img/muriel6.png"></a>
            </div>
        </main>
        <footer class="footer">
            <p>Sitio web desarrollado por Daniela Ovalle :3♡</p>
        </footer>
    </div>
</body>
</html>