<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../img/favicon.png"/>
        <link rel="stylesheet" type="text/css" href= "../css/villanos.css">
    <title>Villanos</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="index.html"><img src="../img/logo 2.png"></a>
            <aside class="sidebar">
                <div >
                    <ul class="historia">
                        <a href="index.html"><li>Historia</li></a>
                    </ul>
                </div>
                <div >
                    <ul class="personajes">
                        <a href="personajes.html"><li>Personajes</li></a>
                    </ul>
                </div>
                <div >
                    <ul class="villanos">
                        <a href="villanos.html"><li>Villanos</li></a>
                    </ul>
                </div>
                <div >
                    <ul class="galeria">
                        <a href="galeria.html"><li>Galeria</li></a>
                    </ul>
                </div>
            </aside>
        </header>
        <main class="content">            
            <article class="article">
                <div class="related-post">   
                     <h1>Cabezas de Carne</h1>
                    <a href="cabezas.html"><img src="../img/cabezas.png"> </a>
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                     <h1>La Sombra</h1>
                    <a href="sombra.html"><img src="../img/sombra.png"> </a>
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                     <h1>Ramses</h1>
                    <a href="ramses.html"><img src="../img/ramses.png"> </a>
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                     <h1>Dcotor Gerbil</h1>
                    <a href="gerbil.html"><img src="../img/drgerbil.png"> </a>
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                     <h1>Fusili</h1>
                   <a href="fusili.html"><img src="../img/fusili.png"> </a> 
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                     <h1>El extraterrestre</h1>
                    <a href="extraterrestre.html"></a><img src="../img/elextraterrestre1.png"> 
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                    <h1>Zorro Cajún</h1>
                    <a href="elzorro.html"><img src="../img/elzorro1.png"> </a>
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                     <h1>La reina del charco</h1>
                    <a href="reina.html"><img src="../img/la-reina.png"> </a>
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                     <h1>Doctor Zalost</h1>
                    <a href="doctorz.html"><img src="../img/dotot2.png"> </a>
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                     <h1>Le Quack</h1>
                    <a href="lecuack.html"><img src="../img/x.png"> </a>
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                     <h1>El Espeluznante Fred</h1>
                    <a href="fredy.html"><img src="../img/freddy.png"> </a>
                 </div>
            </article>
            <article class="article">
                <div class="related-post">   
                     <h1>Shirley</h1>
                    <a href="shirley.html"><img src="../img/shirley.png"> </a>
                 </div>
            </article>

        </main>
        <footer class="footer">
            <h4>footer</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, necessitatibus.</p>
        </footer>

    </div>
</body>
</html>